/.phpunit.cache
/node_modules
/public/build
/public/uploads/**
/public/hot
/public/storage
/bootstrap/cache/*.php
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/testing/**
/storage/framework/views/**
/database/*.sqlite
*.sql
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
